@font-face {
    font-family: 'beatlesFont';
    src: url('./bootle__-webfont.woff2'),
         url('./bootle__-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color:black;
    color: white;
    box-sizing: border-box;
    font-family: beatlesFont;
    letter-spacing: 2px;
    line-height: 1.6;
    width:100%;
    word-spacing: 5px;
}

.container {
    padding-left: 0;
    padding-right: 0;
}


#background {
    position:absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    opacity: 0.4;
}

#header {
    position: relative;
    top: 50px;
    width:100%;
}

h1 {
    text-align: center;
    font-size: 48px;
}

#body {
    position: relative;
    top: 100px;
    min-height: 500px;
}

#start {
    position: absolute;
    top:0;
    width: 100%;
    text-align: center;
}

#gameplay {
    position: absolute;
    top:0;
    width: 100%;
    text-align: center;
}

#answerPage {
    position: absolute;
    top:0;
    width: 100%;
    text-align: center;
}

#end {
    position: absolute;
    top:0;
    width: 100%;
    text-align: center;
}

#answerGif {
    max-width: 400px;
    min-width: 200px;
}

p {
    font-size: 24px;
}

h3 {
    font-size: 36px;
    line-height: 1.4;
}

#rightAnswers, #wrongAnswers {
    font-size: 36px;
}

.answer {
    margin-top: 5px;
    margin-bottom: 5px;
}

.answer:hover{
    background-color: #303030
}