body {
    background-color:black;
    color: white;
    box-sizing: border-box;
    font-family: beatlesFont;
    letter-spacing: 2px;
    width:100%;
}


#background {
    position:absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    opacity: 0.4;
}

#container {
    width:100%;
    height: 600px;
}

h1 {
    font-size: 48px;
    margin-top: 5%;
    width: 100%;
    padding-left: 35%;
    padding-right: 35%;
}


#start {
    width: 80%;
    height: 100%;
    margin: 5%;
    position: relative;
}

h2{
    font-size: 24px;
    position: absolute;
    width: 30%;
    margin-left: 35%;



}