body {
    background-color:black;
    color: white;
    box-sizing: border-box;
    font-family: beatlesFont;
    letter-spacing: 2px;
    width:100%;
}


#background {
    position:absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    opacity: 0.4;
}

#header {
    position: relative;
    top: 50px;
}

h1 {
    text-align: center;
}

#body {
    position: relative;
    top: 100px;
    min-height: 500px;
}

h2 {
    text-align: center;
}
